.hero-section {
  padding: 0.5rem 2rem;

  .hero {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: row;
    .hero-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: url(../../assets/hero/line1.png);
        background-repeat: no-repeat;
        top: -9rem;
        left: 7rem;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
      }
      &::before {
        content: "";
        position: absolute;
        background: url(../../assets/hero/arrow.png);
        background-repeat: no-repeat;
        bottom: -47rem;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }
      .hero-box {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        height: 2rem;
        padding: 1rem;
        background-color: #ebd2d2;
        .hero-box-icon {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #f54748;
          .heart-icon {
            color: #fdc55e;
            font-size: 1.5rem;
          }
        }
        .hero-box-text {
          p {
            color: #191919;
          }
        }
      }
      .hero-main-text {
        width: min(450px, 100%);
        margin-top: 1rem;
        padding: 1rem 0;
        position: relative;
        h1 {
          font-size: 5rem;
          font-weight: 800;
          .serious {
            color: #f54748;
          }
          .food {
            color: #f54748;
          }
          .delivery {
            color: #fdc55e;
          }
        }
        .orangeImg {
          position: absolute;
          top: 0;
          right: -8rem;
        }
        .deliveryImg {
          position: absolute;
          bottom: 0;
          right: 1rem;
        }
      }
      .hero-desc {
        width: min(400px, 100%);
        margin-top: 2rem;
        p {
          color: #474646;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .hero-search-container {
        width: min(400px, 100%);
        margin-top: 2rem;
        .hero-search-container-wrapper {
          width: 100%;
          height: 50px;
          position: relative;
          .black-icon-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 6px;
            z-index: 2;
            font-size: 2rem;
          }
          input {
            width: 95%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 30px;
            border: 0.1rem solid black;
            outline: none;
            padding: 2rem 3.5rem;
            color: #8c8c8c;
            font-size: 1.8rem;
          }
          .icon-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fdc55e;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            color: #fff;
            font-size: 2rem;
          }
        }
      }
      .hero-button {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3rem;
        gap: 2rem;
        margin-top: 2rem;
        .play-video-button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          cursor: pointer;
          .white-center-icon {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: #f54748;
            background-color: #fff;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          }
          span {
            color: #686d77;
            font-size: 1.6rem;
          }
        }
      }
    }
    .hero-images {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      img {
        transform: scale(1);
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .hero-section {
    .hero {
      .hero-content {
        &::before {
          content: "";
          bottom: -52rem;
        }
        .hero-main-text {
          width: min(400px, 100%);
          .deliveryImg {
            left: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .hero-section {
    .hero {
      .hero-images {
        img {
          transform: scale(0.8);
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .hero-section {
    .hero {
      flex-direction: column;
      height: auto;
      .hero-content {
        width: 100%;
        order: 2;
        padding-left: 5rem;
        &::before {
          content: "";
          bottom: -48rem;
        }
        .hero-main-text {
          width: min(450px, 100%);
          .deliveryImg {
            right: 0;
          }
        }
      }
      .hero-images {
        width: 100%;
        order: 1;
        justify-content: center;
        img {
          transform: scale(1);
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero-section {
    .hero {
      .hero-content {
        padding-left: 1rem;
        &::before {
          content: "";
          bottom: -67rem;
          left: 5rem;
        }
        .hero-main-text {
          .deliveryImg {
            left: 0;
          }
          .orangeImg {
            display: none;
          }
        }
      }
      .hero-images {
        img {
          transform: scale(0.7);
        }
      }
    }
  }
}
