.btn {
  background-color: #f54748;
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  outline: none;
}
.red-text {
  color: #f54748;
}
.orange-text {
  color: #fdc55e;
}
